* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  
  
  main {
    margin-top: 90px;
  }

  h1 {
    font-size: 77px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 25px;
  }
  
  h4,
  h5 {
    font-size: 16px;
  }
  
  /************************************************
  * Classi layout
  ************************************************/
  .container-large {
    max-width: 1367px;
    width: 100%;
    margin: auto;
  }
  
  .container {
    max-width: 1010px;
    width: 100%;
    margin: auto;
  }
  
  
  [class*="col_"] {
    float: left;
  }
  
  .col_1_9 {
    width: calc(100% / 9);
  }
  
  .col_2_9 {
    width: calc(100% / 9 * 2);
  }
  
  .col_3_9 {
    width: calc(100% / 9 * 3);
  }
  
  .col_4_9 {
    width: calc(100% / 9 * 4);
  }
  
  .col_5_9 {
    width: calc(100% / 9 * 5);
  }
  
  .col_6_9 {
    width: calc(100% / 9 * 6);
  }
  
  /************************************************
  * Classi Utilities
  ************************************************/
  
header li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  }

li{
list-style: none;
    
 }

a{
    text-decoration: none;
    color: black;
    line-height: 25px;
    padding: 15px;
}
header{
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: white;
  z-index: 99;
}

.navbar{
  content: "";
  display: table;
  clear: both;

  width: 100%;
  padding: 25px;   
}

.navbar-left{
  float: left;
  width: 50%;
}

.navbar-right{
  text-align: right;
  float: right;
  width: 50%;
  }

.navbar image{
  width: 90%;
}

.btn-back-blu{
  background-color: #0061FF;
  color: white;
  padding: 5px 10px;
}

  /************************************************
  *hero
  ************************************************/

.hero-background{
  background-color: #B4D0E7 ;
}
.conteiner-hero{
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 70px;
}

.row::after{
content: "";
clear: both;
display: table;
}
.hero{
  padding-top: 50px;
}

.img-hero img{
  width: 100%;
}

.text-hero, .img-hero{
  float: left;
}

.text-hero p{
  padding-left: 15px;
  padding-bottom: 25px;
}

.text-hero a{
  display: block;
}

  /************************************************
  * main
  ************************************************/

.row-business{
  padding-top: 90px;
  width: 90%;
  margin: auto;
}


.row-business-choice form{
  padding: 20px 0;
}

.row-business li{
  padding: 10px 0;
}

.user{
  text-align: center;
}

.fas{
  color: #0061FF;
}

.col_3_9 a{
  color: #0061FF;
  text-decoration: underline;
  padding: 0;
}

ul h4{
  padding: 10px 0;
}


.single-row.icon{
  text-align: center;
  padding: 10px;
}

.row-business .col_3_9{
  padding: 20px;
}

.far, .fa-user-plus, .fa-pencil-alt{
  color: black;
}

.offers{
  border: 1px solid lightgrey;
  padding: 20px;
}
.row-offers{
  margin-left: -20px;
  margin-right: -20px;
}


.row .col_2_9{
  float: right;
}

.enterprise, .parteners-part{
  padding-bottom: 50px;
}


.enterprise-part{
  border: 1px solid lightgrey;
  padding: 20px;
}

.enterprise-part h3{
  padding: 20px 0;
}


.business-seciton{
  float: left;
} 

.parteners-part img{
  width: 90%;
}

.card-business-section img{
  width: 100%;
}

.business .row{
  margin-left: -70px;
  margin-right: -70px;
}

.card-business-section{
  padding: 40px 70px;
}
.client{
  text-decoration: underline;
  color: #0061FF;
  padding: 0;
}

.team h2{
  padding: 50px 20px;
}